{
  "semi": true,
  "singleQuote": false,
  "tabWidth": 2,
  "trailingComma": "none",
  "proseWrap": "always",
  "bracketSameLine": true,
  "arrowParens": "always",
  "vueIndentScriptAndStyle": true,
  "overrides": [
    {
      "files": ["*.vue"],
      "options": {
        "printWidth": 240
      }
    }
  ]
}
