{
  "semi": false,
  "singleQuote": true,
  "tabWidth": 2,
  "trailingComma": "es5",
  "overrides": [
    {
      "files": ["*.vue", "*.html"],
      "options": {
        "printWidth": 240
      }
    }
  ]
}
