{
  "semi": true,
  "singleQuote": false,
  "tabWidth": 2,
  "trailingComma": "none",
  "proseWrap": "always",
  "overrides": [
    {
      "files": ["*.vue", "*.html"],
      "options": {
        "printWidth": 240
      }
    }
  ]
}
