/*
 * Center Elements
 * ========================================================================== */

// @src: https://github.com/andreymatin/scss-mixins/blob/master/src/scss/_mixins.scss
@mixin center-y {
  top: 50%;
  transform: translateY(-50%);
}

// @src: https://github.com/andreymatin/scss-mixins/blob/master/src/scss/_mixins.scss
@mixin center-x {
  left: 50%;
  transform: translateX(-50%);
}
