/*
 * Elements
 * ========================================================================== */

// @src: https://github.com/andreymatin/scss-mixins/blob/master/src/scss/_mixins.scss

// Offscreen Text
@mixin offscreen-text {
  text-indent: -99999px;
}

// Disable text selection
@mixin unselectable {
  user-select: none;
}

// Centered Element
@mixin absolute-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-right: -50%;
}
