/*
 * Forms
 * ========================================================================== */

/**
 * Floating Label
 *
 * @src: https://github.com/andreymatin/scss-mixins/blob/master/src/scss/_mixins.scss
 */
@mixin form-field(
  $label-left,
  $label-top,
  $label-offset,
  $padding,
  $transition
) {
  position: relative;

  .floating-label {
    white-space: nowrap;

    position: absolute;
    left: 15px;
    top: 18px;

    padding: 0 5px;
    background: #fff;

    @include unselectable;
    pointer-events: none;
    transition: 0.3s ease all;

    z-index: 100;
  }

  .floating-input:focus ~ .floating-label,
  .floating-input:not(:placeholder-shown) ~ .floating-label {
    top: -8px;
  }
}
