/*
 * Typography
 * ========================================================================== */

html {
  width: 100%;
  overflow-x: hidden;
}

body {
  //color: $text-color;

  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;

  text-rendering: optimizeLegibility;

  position: relative;

  width: 100%;
  min-height: 100vh;

  scroll-behavior: smooth;

  padding: 20px !important;
}
