:root {
  // Font stacks
  --font-stack: -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica, Arial, sans-serif, Apple Color Emoji, Segoe UI Emoji;
  --font-stack-mono: SFMono-Regular, Consolas, "Liberation Mono", Menlo, monospace;
}

body {
  font-family: --font-stack, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 0;
  margin: 0;
}

pre,
code {
  font-family: SFMono-Regular, Consolas, Liberation Mono, Menlo, monospace;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
  text-decoration: none;
  font-family: Avenir, Helvetica, Arial, sans-serif;
}

#nav a.router-link-exact-active {
  color: #42b983;
}

#nav a:hover {
  text-decoration: none;
  border-bottom: 1px solid #42b983;
}

.created-using {
  border: 1px solid rgba(66, 185, 131, 0.29);
  width: 50%;
  margin: 50px auto 20px;
  padding: 5px;
  background-color: rgba(44, 62, 80, 0.02);
}

.created-using a {
  text-decoration: none;
  font-weight: 500;
  color: #42b983;
}

.created-using a:hover {
  text-decoration: underline;
}
